
<!--{{ book | json }}-->

<div class="contatiner">
  <div class="row">
    <div class="col-md-2 offset-2">
      <img src="assets/img/{{ book.surname }}.jpg">
    </div>
    <div class="col-md-4">
      <p>Price : {{ book.price|currency:"USD" }}</p>
      <p>Description : {{ book.description }}</p>
      <p>Surname : {{ book.surname }}</p>
      <p>First Name : {{ book.first_name }}</p>
      <p>Title : {{ book.title }}</p>
      <p>On Sale : {{ book.onSale }}</p>
      <p>Inventory : {{ book.inventory }}</p>
    </div>
    <div class="col-md-1">
      <p>Cart: {{ books.length }}</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-4">
      <button (click)="addToCart(book)" class="btn btn-primary mr-2">Add to Cart</button>
<!--      <button (click)="continueShopping()" class="btn btn-info mr-2">Continue Shopping</button>-->
      <button class="btn btn-info mr-2" routerLink="/books">Continue Shopping</button>
      <button (click)="showCart()" class="btn btn-warning mr-2">View Cart</button>
    </div>
  </div>
</div>
